      
---
import { Container } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import Gallery from '../../components/Gallery.astro';
import Lightbox from '../../components/Lightbox.astro';

// Array de objetos com URL, nome e descrição
const imageData = [
  {
    url: '/assets/gallery/teste.jpg',
    name: 'Imagem 1',
    description: 'Uma bela paisagem.'
  },
  {
    url: '/assets/gallery/imae1.jpg',
    name: 'Imagem 2',
    description: 'Um retrato artístico.'
  },
  {
    url: '/assets/gallery/image2.jpg',
    name: 'Imagem 3',
    description: 'Uma foto de arquitetura.'
  },
  // Adicione mais objetos conforme necessário
];

const seo = {
  title: 'Gallery | Astro Odyssey Theme',
  description: 'A beautiful gallery of images.',
};
---

<Layout {seo}>
  <main>
    <Gallery />
    <div id="image-data" style="display: none;">{JSON.stringify(imageData)}</div>
    <Lightbox />
  </main>
</Layout>